NEXT_PUBLIC_STELLAR_NETWORK=localnet
NEXT_PUBLIC_RPC_URL=
NEXT_PUBLIC_CAMPAIGN_CONTRACT_ID=
NEXT_PUBLIC_VERIFIER_CONTRACT_ID=
NEXT_PUBLIC_MOCK_TOKEN_CONTRACT_ID=
OPERATOR_SECRET_KEY=
STELLAR_NETWORK=testnet
STELLAR_SOURCE_ACCOUNT=
